@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Rethink+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ================================================= */
/* ================= BASE TYPOGRAPHY ================ */
/* ================================================= */
body {
  text-rendering: optimizeLegibility;
}
/* Headings */
/* h1,
h2 {
  font-family: "Montserrat", sans-serif;
} */
h1,
h2,
h3,
p {
  line-height: 1.25;

}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


 .font-chivo {
    font-family: 'Chivo Mono', monospace;
  }



/* .animate-slide-left:hover {
  animation-play-state: paused;
} */
